<div class="container" ng-controller="HeaderController">
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="displayTopMenu()">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <img id="header-logo" src="/modules/core/client/img/heroes-logo.png" alt="Heroes">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div collapse="!displayMenu"class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                  <a href="#page-top"></a>
                </li>
                <li ng-show="$state.current.name==='home'">
                  <a class="page-scroll" href="#portfolio">Invitados</a>
                </li>
                <li ng-show="$state.current.name==='home'">
                  <a class="page-scroll" href="#download">Contacto</a>
                </li>
                <li ng-show="$state.current.name==='home'">
                  <a class="page-scroll" href="#map">Dirección</a>
                </li>
                <li ng-show="$state.current.name!=='home'">
                  <a class="page-scroll" href="/#portfolio">Invitados</a>
                </li>
                <li ng-show="$state.current.name!=='home'">
                  <a class="page-scroll" href="/#download">Contacto</a>
                </li>
                <li ng-show="$state.current.name!=='home'">
                  <a class="page-scroll" href="/#map">Dirección</a>
                </li>
                <li ng-hide="authentication.user"ui-sref-active="active">
                  <a ui-sref="authentication.signup">Registrate</a>
                </li>
                <li class="divider-vertical"></li>
                <li ng-hide="authentication.user"ui-sref-active="active">
                  <a ui-sref="authentication.signin">Sign In</a>
                </li>
                <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
                  <li class="dropdown" dropdown>
                    <div class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
                      <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
                      <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                    </div>
                    <ul class="dropdown-menu" role="menu">
                      <li ui-sref-active="active">
                        <a ui-sref="settings.profile">Editar Perfil</a>
                      </li>
                      <li ui-sref-active="active">
                        <a ui-sref="settings.picture">Cambiar foto de perfil</a>
                      </li>
                      <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
                        <a ui-sref="settings.password">Cambiar Contraseña</a>
                      </li>
                      <li ui-sref-active="active">
                        <a ui-sref="settings.accounts">Redes Sociales</a>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a href="/api/auth/signout" target="_self">Cerrar Sesión</a>
                      </li>
                    </ul>
                  </li>
                </ul>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


</div>
<script>
// jQuery for page scrolling feature - requires jQuery Easing plugin
$(function() {
  $('a').click(function(){
    console.log('df');
    $('html, body').animate({
      scrollTop: $( $(this).attr('href') ).offset().top
    }, 500);
    return false;
  });
});
</script>
