<section ng-controller="HomeController">
    <!-- Intro Header -->
<header class="intro">

    <div class="intro-body">
    <div class="video">
      <vid-bg resources="resources" poster="poster" full-screen="fullScreen" muted="muted" z-index="zIndex" play-info="playInfo" pause-play="pausePlay"></vid-bg>
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading"></h1>
                    <p class="intro-text">25 - 26 - 27 / Agosto / 2016</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div> -->
    </div>
    </div>
</header>
<!-- image section for guest -->

    <section class="no-padding" id="portfolio">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2>Invitados</h2>
          <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur incidunt doloribus eveniet animi dicta consectetur consequatur laboriosam dolore! Expedita laudantium cumque praesentium tempora eligendi aspernatur doloribus, accusantium delectus fuga velit. -->
      </div>
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
              <div class="col-lg-4 col-sm-6">
                  <a href="img/portfolio/fullsize/4.jpg" class="portfolio-box">
                      <img src="/modules/core/client/img/LorenaC.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  <!-- Category -->
                              </div>
                              <div class="project-name">
                                  Lorena Castellaños
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                <a href="/modules/core/client/img/portfolio/fullsize/2.jpg" class="portfolio-box">
                    <img src="/modules/core/client/img/TimmyOst.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <!-- Category -->
                            </div>
                            <div class="project-name">
                                Timmy Ost
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                    <img src="/modules/core/client/img/JONATHANPENA.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <!-- Category -->
                            </div>
                            <div class="project-name">
                                  Jonathan Peña
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-8 col-sm-6">
                <a href="img/portfolio/fullsize/1.png" class="portfolio-box">
                    <img src="/modules/core/client/img/soulfire4k _2.jpg" class="img-responsive" alt="">
                    <div id="soulfire" class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <!-- Category -->
                            </div>
                            <div class="project-name">
                                Soulfire Revolution
                            </div>
                        </div>
                    </div>
                </a>
            </div>
          </div>
      </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section">
        <div class="download-section">
          <div class="col-md-12 text-center">
                <h2> Contacto </h2>
          </div>
            <div class="container">
              <div class="col-lg-12 colo-sm6">
                <div id="contact-container"class="col-lg-6 colo-sm6">
                    <p> Deja tu información para contactarte </p>
                    <form role="form">
                      <div class="form-group">
                          <label for="ejemplo_nombre_1">Nombre</label>
                          <input type="nombre" class="form-control" id="ejemplo_nombre_1"
                            placeholder="Nombre">
                      </div>
                      <div class="form-group">
                          <label for="ejemplo_email_1">Email</label>
                          <input type="email" class="form-control" id="ejemplo_email_1"
                             placeholder="Email">
                      </div>
                      <div class="form-group">
                          <label for="ejemplo_Teléfono_1">Teléfono</label>
                          <input type="Teléfono" class="form-control" id="Teléfono_email_1"
                             placeholder="Teléfono">
                      </div>
                    </form>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Enviar información</a>
                </div>

                <div id="contact-container"class="col-lg-6 col-sm6">
                    <p>Pastores Roberto y Nancy Tinoco <Br><Br> Sé bienvenido a nuestros servicios: Miércoles Servicio de Oración 7:00 pm <Br> Domingos Culto General: 11:00 am en Palabra Viva Cosmos ubicado en calle Pino 2700 (esquina con calle cosmos) Col. Satélite <Br> Teléfonos de Oficina: (614) 423-2419 - (614) 541-5252 - (614) 541-5339</p>
                </div>
              </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <!-- <section  class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contacts Start Bootstrap</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section> -->
    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Reactivo 2016</p>
        </div>
    </footer>


    <!-- Modal for bases -->
</section>
