.content {
font-family: 'Dosis', sans-serif!important;
padding: 15px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.list-profile-image {
  opacity: 0.8;
  margin-top:5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.5);;
    border-color: #080808;
    background-image: none;
}
.video{
  width: 100%;
  height: 100%;
  background-color: #282828!important;
  /*display: block;*/
  /*z-index: 24;*/
  /*position: fixed;*/
  /*position: absolute;*/
}
.transparent-video{
  position: absolute;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 0, 0, 0.5);*/
}
.transparent-video{
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: white;
}
#smash-logo{
  display: block;
  position: absolute;
  width: 50%;
  margin-top: 10%;
  margin-left: 25%;

}
#torneo-logo{
  display: block;
  position: absolute;
  width: 50%;
  top: -50px;
  margin-left: 24%;
}

#wii{
  display: block;
  position: absolute;
  width: 10%;
  margin-top: 10%;
  margin-left: 67%;

}
#mario{
  width: 20%;
}
#register-button{
  position: absolute;
  width: 30%;
  margin-top: 28%;
  left: 35%;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.5);;
  background-image: none;
  z-index: 3333;
}
#register-text{
  width:70%;
}

#header-logo{
  /*position: fixed;*/
  /*top: -40px;*/
  margin-top: -15px;
  width: 180px;
}

.header-section{
  width: 100%;
  text-align: center;
}
#services{
  font-family: 'Dosis', sans-serif!important;
  color: black;
  background-color: white!important;
  background-image: url(/modules/core/client/img/sombras/Yoshi.png), url(/modules/core/client/img/sombras/samus.png), url(/modules/core/client/img/sombras/MARIO.png);
 background-position: right , left ,center;
 background-repeat: no-repeat, no-repeat, no-repeat;
 background-size: 300px ,300px ,300px;

}
.callout{
      background: url(/modules/core/client/img/smash-banner.png) no-repeat center center scroll!important;
}
#bases{
  background: url(/modules/core/client/img/bases.png) no-repeat right center scroll!important;
  background-color: #282828!important;
}
.img-gift{
  width: 200px;
}
.modal-content{
  background: url(/modules/core/client/img/modal-bases.png) no-repeat center center scroll!important;
}
#checa-las-bases{
  width: 40%;
}
#lugaryfecha{
  width: 300px;
}
@media (max-width: 750px) {
  #torneo-logo{
    display: block;
    position: absolute;
    width: 50%;
    top: -15px;
    margin-left: 24%;
  }
}

@media (max-width:450px){
  #services{
    font-family: 'Dosis', sans-serif!important;
    color: black;
    background-color: white!important;
    background-image: url(/modules/core/client/img/sombras/Yoshi.png), url(/modules/core/client/img/sombras/samus.png), url(/modules/core/client/img/sombras/MARIO.png);
   background-position: center top , center center, center bottom;
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-size: 300px ,300px ,300px;

  }
  .callout{
        background: url(/modules/core/client/img/smash-banner.png) no-repeat scroll!important;
  }
}
@media (min-width:768px){
  #mapa{
    width: 500px;
    height: 400px;
  }
}
